@model CartViewModel

@{
    ViewData["Title"] = "Sepetim";
}

<section class="cart-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            @if (Model.CartLines.Any())
            {
                <div class="col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="product-thumbnail">Ürün</th>
                                        <th class="cart-product-name">Adı</th>
                                        <th class="product-price">Birim Fiyatı</th>
                                        <th class="product-quantity">Adet</th>
                                        <th class="product-subtotal">Toplam</th>
                                        <th class="product-remove">Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartLines)
                                    {
                                        <tr>
                                            <td class="product-thumbnail"><a href="#"><img src="/Img/Products/@item.Product.Image" alt=""></a></td>
                                            <td class="product-name"><a href="#">@item.Product.Name</a></td>
                                            @if (item.Product.DiscountRate > 0)
                                            {
                                                <td class="product-price">
                                                    <span class="amount">@item.Product.DiscountedPrice</span>
                                                    <span class="amount">@item.Product.Price</span>
                                                </td>
                                            }
                                            <td class="product-price">
                                                <span class="amount">@item.Product.Price</span>
                                            </td>

                                            <td class="product-quantity">
                                                <div class="cart-plus-minus">
                                                    <input type="text" value="1">
                                                    <div class="dec qtybutton">-</div><div class="inc qtybutton">+</div>
                                                </div>
                                            </td>
                                            <td class="product-subtotal"><span class="amount">  @((item.Quantity * (item.Product.DiscountedPrice ?? item.Product.Price)).ToString("c"))</span></td>

                                            <td class="product-remove">
                                                <form asp-action="Remove" asp-controller="Cart">
                                                    <input type="hidden" name="ProductId" value="@item.Product.Id" />
                                                    <button type="submit" class="delete-btn">
                                                        <i class="fa fa-times"></i>
                                                    </button>

                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    <div class="coupon">
                                        <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Coupon code" type="text">
                                        <button class="btn theme-btn-2" name="apply_coupon" type="submit">Kuponu Uygula</button>
                                    </div>
                                    <div class="coupon2">
                                        <input class="btn theme-btn" name="update_cart" value="Sepeti Güncelle" type="submit">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Sepet Toplamı</h2>
                                    <ul class="mb-20">
                                        <li>Ara Toplam <span>@Model.TotalPrice.ToString("c")</span></li>
                                        <li>Kargo <span> @(Model.TotalPrice > 999 ? "Ücretsiz" : Model.CartLines.Any() ? "99₺" : "0₺")</span></li>
                                        <li>
                                            Sipariş Toplamı <span>
                                                @(Model.TotalPrice > 999 ? Model.TotalPrice.ToString("c") : (Model.CartLines.Any() ? Model.TotalPrice + 99 : Model.TotalPrice.ToString("c")))
                                            </span>
                                        </li>
                                    </ul>
                                    <a class="btn theme-btn" href="/">Alışverişe devam et</a>
                                    <a class="btn theme-btn" href="/Cart/Checkout">Satın Al</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            }
            else
            {
                <div class="container">
                    <div class="alert alert-warning my-5">
                        <h3>Sepetinizde Ürün Bulunmamaktadır!</h3>
                    </div>
                </div>
            }
        </div>


    </div>
</section>